body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(251, 247, 247);
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navigation a {
  color: rgb(80, 80, 80);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 530;
  padding-left: 30px;
}

nav {
  display: flex;
  justify-items: space-between;
  align-items: center;
  float: right;
  padding-top: 10px;
}

.a {
  padding-right: 40px;
}

.hicons {
  padding-left: 10px;
}

.mimg {
  padding-left: 20px;
  width: 250px;
  padding-top: 10px;
}

.wimg {
  padding-top: 20px;
  width: 100vw;
  height: 400px;
}

.exp {
  padding-top: 10px;
  padding-left: 40px;
  font-size: 35px;
}

.wer {
  padding-left: 110px;
}

.about {
  color: rgb(255, 166, 0);
  font-size: 40px;
  font-family: serif;
}

.we {
  font-size: 17px;
  font-family: sans-serif;
  color: rgb(99, 99, 99);
}

.thimg {
  width: 600px;
  float: right;
  margin-top: 90px;
}

.pick1 {
  margin-left: 520px;
  padding-top: 20px;
  font-size: 40px;
  color: rgb(2, 114, 2);
  padding: 30px;
}

.ser {
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.one {
  color: white;
  background-color: rgb(255, 166, 0);
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  padding: 0.9375em;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 10px;
  position: relative;
  right: 50px;
  display: block;
  margin: auto;
  transition: all 200ms;
}

.one:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(156, 104, 1);
}

.two {
  color: white;
  background-color: rgb(255, 166, 0);
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  padding: 0.9375em;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 10px;
  display: block;
  position: relative;
  right: 240px;
  margin-top: 10px;
  transition: all 200ms;
}

.two:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(156, 104, 1);
}

.three {
  color: white;
  background-color: rgb(255, 166, 0);
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  padding: 0.9375em;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 10px;
  position: relative;
  left: 680px;
  margin-top: 10px;
  transition: all 200ms;
}

.three:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(156, 104, 1);
}

.cont {
  padding: 40px;
  color: rgb(104, 109, 104);
  font-size: 30px;
  position: relative;
  left: 650px;
}

.pfs {
  display: flex;
  justify-items: space-between;
  align-items: center;
  font-size: x-large;
  text-align: center;
}

.heads {
  display: flex;
  justify-items: space-between;
  align-items: center;
  position: relative;
  left: 850px;
  font-size: xx-large;
  color: rgb(255, 166, 0);
}

.m {
  position: relative;
  right: 500px;
}

.m2 {
  position: relative;
  left: 310px;
}

.c {
  position: relative;
  right: 250px;
}

.c2 {
  position: relative;
  left: 450px;
}

.v2 {
  position: relative;
  left: 500px;
}

.contact {
  background-image: url("377488892_683266450350462_132497553258971239_n.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.as {
  font-size: large;
  position: relative;
  left: 400px;
}

.inbox {
  color: gray;
}

.call {
  color: gray;
  position: relative;
  left: 165px;
}

.come {
  color: gray;
  position: relative;
  left: 450px;
}

.emo {
  position: relative;
  left: 650px;
  font-size: larger;
}

.eemo {
  position: relative;
  left: 700px;
  font-size: larger;
}

.eeemo {
  position: relative;
  left: 750px;
  font-size: larger;
}

.last {
  position: relative;
  left: 800px;
  font-size: larger;
}

.des {
  color: rgb(56, 56, 56);
  position: relative;
  left: 650px;
}

.phone {
  color: rgb(255, 166, 0);
  float: right;
  margin: auto;
  margin-top: -80px;
  font-size: 30px;
}

.team1 {
  color: rgb(255, 166, 0);
  font-size: 30px;
}

.t1 {
  font-size: 20px;
  color: rgb(99, 99, 99);
}

.rph {
  width: 500px;
  border-radius: 20px;
  position: relative;
  left: 750px;
  margin-top: -400px;
}

.pick {
  margin-left: 450px;
  padding-top: 20px;
  font-size: 40px;
  color: rgb(2, 114, 2);
  padding: 30px;
}

.mdate {
  color: rgb(32, 31, 29);
  font-size: 35px;
  position: relative;
  left: 200px;
  background-color: rgb(212, 210, 206);
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  padding: 0.9375em;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 10px;
}

.btn {
  margin-top: 30px;
  color: rgb(32, 31, 29);
  font-size: 35px;
  position: relative;
  left: 200px;
  background-color: rgb(212, 210, 206);
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0.9375em;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 10px;
}

.chose {
  margin-top: 30px;
  color: rgb(32, 31, 29);
  font-size: 35px;
  position: relative;
  left: 200px;
  background-color: rgb(212, 210, 206);
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0.9375em;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 10px;
}

.ask {
  font-size: 26px;
  color: rgb(255, 166, 0);
  padding: 10px;
}

.note {
  font-size: 30px;
}

.notice {
  font-size: 17px;
  color: rgb(99, 99, 99);
}

textarea {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.rph2 {
  width: 500px;
  border-radius: 20px;
  position: relative;
  left: 750px;
  margin-top: -400px;
}
